.about-me {
  padding: 2rem 3rem 5rem 3rem;
  background-color: rgb(219, 219, 219);
}

.about-me > h1 {
  font-family: Gill Sans;
}

.about-me-contents {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
}

.self-portrait {
  height: 240px;
  border-radius: 50%;
}

.about-me-self-eval {
  line-height: 1.6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-me-self-eval > b {
  color: rgb(219, 219, 219);
}

@media screen and (max-width: 700px) {
  .about-me {
    padding: 1rem 2rem 3rem 2rem;
  }
  .about-me-contents {
    flex-direction: column;
  }
}