.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  background-color: cornflowerblue;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.footer-links > p {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.footer-links > p > a > img {
  height: 32px;
  width: auto;
}

.footer > h2 {
  font-family: monaco;
}