.header {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219, 219, 219);
}

nav > a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  margin: 0 12px;
}

.header-myName {
  text-decoration: none;
  color: black;
  font-family: Gill Sans;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .header {
    padding: 2rem
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 2rem 26px 2rem 2rem
  }
  nav > a {
    margin: 0 6px;
  }
  .header-myName > b {
    display: none;
  }
}
