.skills {
  padding:2rem 3rem 5rem 3rem;
  background-color: #bbc770;
}

.skills > h1 {
  font-family: Gill Sans;
}

.skill-icons-container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-desc {
  width: 58px;
  height: 58px;
  border-radius: 10%;
  animation: rotate .5s linear; /*name duration timing-function delay*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
}

.skill-icon {
  width: 60px;
  height: 60px;
  animation: rotate .5s linear;
}

.hiddenContent {
  display: none;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotateY(120deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

@media screen and (max-width: 720px) {
  .skills {
    padding: 1rem 2rem 3rem 2rem;
  }
}