.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
      url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
      no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ImgContainer {
  width: 500px;
  height: 500px;
}
.ImgContainer > img {
  width: 100%;
  height: auto;
}


